<h1><%= @beer.name %></h1>
<p><%= @beer.description %></p>
<p><%= @beer.best_value.quantity %></p>
<p><%= @beer.best_value.price %></p>
<p><%= @beer.best_value.container_type %></p>
<% @beer.prices.each do |price| %>
<p><%= price.quantity %> <%= price.container_type %> <%= price.quantity * price.volume / price.price %></p>
<% end %>
